body {
  margin: 0;
  font-family: 'Noto Sans JP';
}

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  height: 100%;
  width: 100%;
  /* background: #2e2e2e; */
  /* color: #ffffff; */
}

h1, h2, h3, h4 {
  font-family: 'Gentium Book Basic';
}


.App {
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow-y: scroll;
  overflow-wrap: normal;
}